* {
    box-sizing: border-box;
    transition: all 0.5s;
  }
  
  body {
    margin: 0px;
    overflow: hidden;
  }
  
  body .heading {
    font-size: 8rem;
    margin: 7rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(26, 38, 61);
    display: inline-block;
    position: relative;
    z-index: 3;
  }
  
  body .heading::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    top: 22%;
    left: 15%;
    border: 10px solid rgba(78, 115, 185, 0.089);
    z-index: -20;
  }
  
  @keyframes move {
    from {
      transform: rotate(75deg) translate(-120px, 60px);
    }
    to {
      transform: rotate(75deg) translate(-120px, -290px);
    }
  }
  body .container {
    z-index: -20;
    margin: 80px;
    display: inline-flex;
    position: absolute  ;
    right: 0px;
    top: 200px;
   
    display: grid;
    grid-template-columns: auto auto ;
    gap: 1rem;
    animation: move 10.5s linear infinite alternate;
    
  }
  
  .container .child-container {
    width: 320px;
    height: 180px;
    border-radius: 5px;
    background-color: #b9b9b9;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  }
  
  .child-container img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    
    
  }
  
  @media screen and (max-width: 1000px) {
    body .heading {
      margin: 9rem 3rem;
      font-size: 6rem;
    }
  }
  
  @media screen and (max-width: 780px) {
    body .heading {
      font-size: 4rem;
      margin: 12rem 2rem;
    }
    @keyframes move {
      from {
        transform: rotate(45deg) translate(20px, 80px);
      }
      to {
        transform: rotate(45deg) translate(20px, 20px);
      }
    }
  
    body .container {
      gap: 0.5rem;
    }
    .container .child-container {
      width: 100px;
      height: 100px;
      border-radius: 4px;
    }
  }
  
  @media screen and (max-width: 500px) {
    body .heading {
      margin: 8rem 2rem;
    }
  
    @keyframes move {
      from {
        transform: rotate(45deg) translate(150px, 80px);
      }
      to {
        transform: rotate(45deg) translate(150px, 20px);
      }
    }
  }
  




/*-----------/**/

*html, body {
    margin: 0;
    
   
  }
  *div {
   
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  .box:after {
    z-index: -35;
    content: ' ';
    border-top: 85vh solid #008ee610;
    border-right: 168vw solid transparent;
    width: 0;
    position: absolute;
  }


  .box1 div {
   
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  .box1:after {
    box-shadow: 0px  20px rgba(0, 0, 0, 0.116);
    z-index: -35;
    margin-top: 150px;
    content: ' ';
    border-top: 95vh solid transparent;
    border-right: 185vw solid #008ee610;
    width: 0;
    height: 1100px;
    position: absolute;
  }

 